In [1]:
import pandas as pd
from sqlalchemy import create_engine, func
from  db_conn import url
import psycopg2

In [2]:
postgresInfo = f'postgresql://{url}'
conn_string = postgresInfo

db = create_engine(conn_string)
conn = db.connect()

conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

In [3]:
concussed_df = pd.read_sql_query('''SELECT * FROM clean_concussion_data ;''', db)
stats_df = pd.read_sql_query(''' SELECT * FROM moneypuck_cleaned; ''', db)

In [4]:
concussed_df.head()

   Season Team Position            Player  Games_Missed
0    2012  BOS        F  Patrice Bergeron             6
1    2012  BOS        F     Brad Marchand             2
2    2012  BOS        F    Shawn Thornton             2
3    2012  CAR        F       Chad LaRose            10
4    2012  CAR        F   Alexander Semin             2

In [5]:
stats_df.head()

,season,name,team,position,games_played,onIce_corsiPercentage,onIce_fenwickPercentage,I_F_goals,I_F_points,I_F_penalityMinutes,I_F_hits,I_F_takeaways,I_F_giveaways
0,2012,Ryan Johansen,CBJ,C,40,0.51,0.50,5.0,12.0,12.0,42.0,15.0,6.0
1,2012,Stephen Weiss,FLA,C,17,0.45,0.43,1.0,4.0,15.0,6.0,13.0,2.0
2,2012,Anton Babchuk,CGY,D,7,0.41,0.41,0.0,1.0,0.0,1.0,0.0,5.0
3,2012,Frans Nielsen,NYI,C,48,0.48,0.48,6.0,29.0,12.0,23.0,29.0,24.0
4,2012,Kyle Quincey,DET,D,36,0.53,0.53,1.0,3.0,18.0,29.0,6.0,18.0

In [6]:
concussed_df = concussed_df.rename(columns={'Season': 'season'})
concussed_df = concussed_df.rename(columns={'Player': 'name'})

In [7]:
concussed_df.head()

   season Team Position              name  Games_Missed
0    2012  BOS        F  Patrice Bergeron             6
1    2012  BOS        F     Brad Marchand             2
2    2012  BOS        F    Shawn Thornton             2
3    2012  CAR        F       Chad LaRose            10
4    2012  CAR        F   Alexander Semin             2

In [8]:
concussed_df.value_counts("Games_Missed")

Games_Missed
3     48
4     44
2     36
5     26
6     26
1     21
9     20
7     17
10    16
8     13
12     9
11     8
15     6
14     6
18     5
16     4
19     4
21     4
17     3
20     3
25     3
27     2
56     2
42     2
78     2
34     2
24     2
13     2
23     2
26     2
30     1
22     1
81     1
80     1
74     1
69     1
62     1
49     1
50     1
48     1
46     1
44     1
41     1
40     1
35     1
82     1
dtype: int64

In [9]:
stats_df.shape

(9938, 13)

In [10]:
filtered_concussed_df = concussed_df[concussed_df['Games_Missed'] >= 10 ]
filtered_concussed_df.value_counts("Games_Missed")

Games_Missed
10    16
12     9
11     8
14     6
15     6
18     5
16     4
19     4
21     4
17     3
20     3
25     3
27     2
42     2
78     2
34     2
23     2
26     2
24     2
13     2
56     2
50     1
80     1
81     1
74     1
69     1
62     1
30     1
49     1
48     1
46     1
44     1
41     1
40     1
35     1
22     1
82     1
dtype: int64

In [11]:
filtered_concussed_df.shape

(105, 5)

In [12]:
filtered_concussed_df.value_counts("name")

name
Ondrej Kase           4
Clarke MacArthur      3
Andrew Shaw           3
Patrick Sharp         2
George Parros         2
                     ..
Jonathan Huberdeau    1
John-Michael Liles    1
John Moore            1
Jesse Winchester      1
Vladimir Tarasenko    1
Length: 85, dtype: int64

In [13]:
merged_df = pd.merge(stats_df, filtered_concussed_df, on=['season', 'name'], how='left').fillna(0)
merged_df.head()

,season,name,team,position,games_played,onIce_corsiPercentage,onIce_fenwickPercentage,I_F_goals,I_F_points,I_F_penalityMinutes,I_F_hits,I_F_takeaways,I_F_giveaways,Team,Position,Games_Missed
0,2012,Ryan Johansen,CBJ,C,40,0.51,0.50,5.0,12.0,12.0,42.0,15.0,6.0,0,0,0.0
1,2012,Stephen Weiss,FLA,C,17,0.45,0.43,1.0,4.0,15.0,6.0,13.0,2.0,0,0,0.0
2,2012,Anton Babchuk,CGY,D,7,0.41,0.41,0.0,1.0,0.0,1.0,0.0,5.0,0,0,0.0
3,2012,Frans Nielsen,NYI,C,48,0.48,0.48,6.0,29.0,12.0,23.0,29.0,24.0,0,0,0.0
4,2012,Kyle Quincey,DET,D,36,0.53,0.53,1.0,3.0,18.0,29.0,6.0,18.0,0,0,0.0

In [14]:
final_df = merged_df.drop(['Team', 'Position'], axis = 1)
final_df.head()

,season,name,team,position,games_played,onIce_corsiPercentage,onIce_fenwickPercentage,I_F_goals,I_F_points,I_F_penalityMinutes,I_F_hits,I_F_takeaways,I_F_giveaways,Games_Missed
0,2012,Ryan Johansen,CBJ,C,40,0.51,0.50,5.0,12.0,12.0,42.0,15.0,6.0,0.0
1,2012,Stephen Weiss,FLA,C,17,0.45,0.43,1.0,4.0,15.0,6.0,13.0,2.0,0.0
2,2012,Anton Babchuk,CGY,D,7,0.41,0.41,0.0,1.0,0.0,1.0,0.0,5.0,0.0
3,2012,Frans Nielsen,NYI,C,48,0.48,0.48,6.0,29.0,12.0,23.0,29.0,24.0,0.0
4,2012,Kyle Quincey,DET,D,36,0.53,0.53,1.0,3.0,18.0,29.0,6.0,18.0,0.0

In [15]:
final_df.value_counts('Games_Missed')

Games_Missed
0.0     9849
10.0      16
12.0       9
11.0       7
14.0       6
15.0       6
18.0       5
21.0       4
16.0       4
17.0       3
20.0       3
25.0       3
19.0       3
78.0       2
24.0       2
13.0       2
27.0       2
34.0       2
42.0       2
50.0       1
80.0       1
74.0       1
69.0       1
62.0       1
56.0       1
26.0       1
46.0       1
44.0       1
41.0       1
40.0       1
35.0       1
23.0       1
22.0       1
81.0       1
dtype: int64

In [16]:
final_df.shape

(9945, 14)

In [17]:
filtered_concussed_df.shape

(105, 5)

In [18]:
has_missed_game = final_df.groupby('name')['Games_Missed'].max() > 0
df_final = final_df[final_df['name'].isin(has_missed_game[has_missed_game].index)]

In [19]:
df_final.shape

(579, 14)

In [20]:
df_final['points_per_game'] = df_final['I_F_points'] / df_final['games_played']
df_final.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,season,name,team,position,games_played,onIce_corsiPercentage,onIce_fenwickPercentage,I_F_goals,I_F_points,I_F_penalityMinutes,I_F_hits,I_F_takeaways,I_F_giveaways,Games_Missed,points_per_game
40,2012,Jack Hillen,WSH,D,23,0.49,0.50,3.0,9.0,14.0,10.0,2.0,13.0,0.0,0.391304
56,2012,David Perron,STL,L,48,0.58,0.58,10.0,25.0,44.0,48.0,26.0,14.0,0.0,0.520833
94,2012,Ryane Clowe,NYR,L,40,0.58,0.58,3.0,19.0,53.0,99.0,13.0,26.0,0.0,0.475000
103,2012,Nicklas Grossmann,PHI,D,30,0.41,0.42,1.0,4.0,21.0,81.0,6.0,17.0,18.0,0.133333
117,2012,Vladimir Tarasenko,STL,R,38,0.63,0.63,8.0,19.0,10.0,28.0,14.0,6.0,10.0,0.500000

In [21]:
df_final['points_per_game'] = df_final['points_per_game'].round(2)
df_final.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,season,name,team,position,games_played,onIce_corsiPercentage,onIce_fenwickPercentage,I_F_goals,I_F_points,I_F_penalityMinutes,I_F_hits,I_F_takeaways,I_F_giveaways,Games_Missed,points_per_game
40,2012,Jack Hillen,WSH,D,23,0.49,0.50,3.0,9.0,14.0,10.0,2.0,13.0,0.0,0.39
56,2012,David Perron,STL,L,48,0.58,0.58,10.0,25.0,44.0,48.0,26.0,14.0,0.0,0.52
94,2012,Ryane Clowe,NYR,L,40,0.58,0.58,3.0,19.0,53.0,99.0,13.0,26.0,0.0,0.48
103,2012,Nicklas Grossmann,PHI,D,30,0.41,0.42,1.0,4.0,21.0,81.0,6.0,17.0,18.0,0.13
117,2012,Vladimir Tarasenko,STL,R,38,0.63,0.63,8.0,19.0,10.0,28.0,14.0,6.0,10.0,0.50

In [22]:

df_final = df_final.rename(columns={'onIce_corsiPercentage': 'corsi_percentage'})
df_final = df_final.rename(columns={'onIce_fenwickPercentage': 'fenwick_percentage'})
df_final = df_final.rename(columns={'I_F_goals': 'goals'})
df_final = df_final.rename(columns={'I_F_points': 'points'})
df_final = df_final.rename(columns={'I_F_penalityMinutes': 'penalty_minutes'})
df_final = df_final.rename(columns={'I_F_hits': 'hits'})
df_final = df_final.rename(columns={'I_F_takeaways': 'takeaways'})
df_final = df_final.rename(columns={'I_F_giveaways': 'giveaways'})
df_final = df_final.rename(columns={'Games_Missed': 'games_missed'})
df_final.head()

,season,name,team,position,games_played,corsi_percentage,fenwick_percentage,goals,points,penalty_minutes,hits,takeaways,giveaways,games_missed,points_per_game
40,2012,Jack Hillen,WSH,D,23,0.49,0.50,3.0,9.0,14.0,10.0,2.0,13.0,0.0,0.39
56,2012,David Perron,STL,L,48,0.58,0.58,10.0,25.0,44.0,48.0,26.0,14.0,0.0,0.52
94,2012,Ryane Clowe,NYR,L,40,0.58,0.58,3.0,19.0,53.0,99.0,13.0,26.0,0.0,0.48
103,2012,Nicklas Grossmann,PHI,D,30,0.41,0.42,1.0,4.0,21.0,81.0,6.0,17.0,18.0,0.13
117,2012,Vladimir Tarasenko,STL,R,38,0.63,0.63,8.0,19.0,10.0,28.0,14.0,6.0,10.0,0.50

In [23]:
df_final.dtypes

season                  int64
name                   object
team                   object
position               object
games_played            int64
corsi_percentage      float64
fenwick_percentage    float64
goals                 float64
points                float64
penalty_minutes       float64
hits                  float64
takeaways             float64
giveaways             float64
games_missed          float64
points_per_game       float64
dtype: object

In [24]:
df_final['goals'] = df_final['goals'].astype(int)
df_final['points'] = df_final['points'].astype(int)
df_final['penalty_minutes'] = df_final['penalty_minutes'].astype(int)
df_final['hits'] = df_final['hits'].astype(int)
df_final['takeaways'] = df_final['takeaways'].astype(int)
df_final['giveaways'] = df_final['giveaways'].astype(int)
df_final['games_missed'] = df_final['games_missed'].astype(int)
df_final['name'] = df_final['name'].astype(str)
df_final['team'] = df_final['team'].astype(str)
df_final['position'] = df_final['position'].astype(str)
df_final.dtypes

season                  int64
name                   object
team                   object
position               object
games_played            int64
corsi_percentage      float64
fenwick_percentage    float64
goals                   int64
points                  int64
penalty_minutes         int64
hits                    int64
takeaways               int64
giveaways               int64
games_missed            int64
points_per_game       float64
dtype: object

In [25]:
df_final.head()

,season,name,team,position,games_played,corsi_percentage,fenwick_percentage,goals,points,penalty_minutes,hits,takeaways,giveaways,games_missed,points_per_game
40,2012,Jack Hillen,WSH,D,23,0.49,0.50,3,9,14,10,2,13,0,0.39
56,2012,David Perron,STL,L,48,0.58,0.58,10,25,44,48,26,14,0,0.52
94,2012,Ryane Clowe,NYR,L,40,0.58,0.58,3,19,53,99,13,26,0,0.48
103,2012,Nicklas Grossmann,PHI,D,30,0.41,0.42,1,4,21,81,6,17,18,0.13
117,2012,Vladimir Tarasenko,STL,R,38,0.63,0.63,8,19,10,28,14,6,10,0.50

In [26]:
# Write the dataframe to postgres database
df_final.to_sql('players_of_interest', db, if_exists='replace',
          index=False)
sql1 = '''select * from clean_concussion_data;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
  
conn.commit()
conn.close()

(2012, 'BOS', 'F', 'Patrice Bergeron', 6)
(2012, 'BOS', 'F', 'Brad Marchand', 2)
(2012, 'BOS', 'F', 'Shawn Thornton', 2)
(2012, 'CAR', 'F', 'Chad LaRose', 10)
(2012, 'CAR', 'F', 'Alexander Semin', 2)
(2012, 'CAR', 'F', 'Jeff Skinner', 5)
(2012, 'CHI', 'D', 'Steve Montador', 26)
(2012, 'CBJ', 'D', 'James Wisniewski', 2)
(2012, 'DET', 'F', 'Patrick Eaves', 1)
(2012, 'EDM', 'F', 'Ben Eager', 9)
(2012, 'FLA', 'F', 'Eric Selleck', 16)
(2012, 'FLA', 'D', 'Mike Weaver', 1)
(2012, 'MTL', 'F', 'Rene Bourque', 21)
(2012, 'MTL', 'F', 'Brendan Gallagher', 3)
(2012, 'MTL', 'D', 'Raphael Diaz', 25)
(2012, 'NYR', 'F', 'Darroll Powe', 3)
(2012, 'OTT', 'F', 'David Dziurzynski', 7)
(2012, 'OTT', 'D', 'Mike Lundin', 8)
(2012, 'PHI', 'F', 'Daniel Briere', 10)
(2012, 'PHI', 'F', 'Wayne Simmonds', 3)
(2012, 'PHI', 'D', 'Marc-Andre Bourdon', 48)
(2012, 'PHI', 'D', 'Nicklas Grossmann', 18)
(2012, 'PHI', 'D', 'Kent Huskins', 6)
(2012, 'ARI', 'F', 'Rob Klinkhammer', 1)
(2012, 'PIT', 'F', 'Evgeni Malkin', 4)
(2012, 'PIT', 'F', 'James Neal', 8)
(2012, 'STL', 'F', 'Vladimir Tarasenko', 10)
(2012, 'TOR', 'F', 'Joffrey Lupul', 5)
(2012, 'TOR', 'D', 'Jake Gardiner', 2)
(2012, 'MIN', 'F', 'Jason Pominville', 3)
(2012, 'MTL', 'F', 'Lars Eller', 4)
(2013, 'ANA', 'F', 'Saku Koivu', 15)
(2013, 'ANA', 'F', 'Dustin Penner', 5)
(2013, 'BOS', 'F', 'Loui Eriksson', 5)
(2013, 'BOS', 'F', 'Loui Eriksson', 15)
(2013, 'BOS', 'F', 'Daniel Paille', 2)
(2013, 'BOS', 'F', 'Daniel Paille', 7)
(2013, 'BOS', 'D', 'Dougie Hamilton', 4)
(2013, 'CGY', 'F', 'Mike Cammalleri', 9)
(2013, 'CAR', 'F', 'Alexander Semin', 12)
(2013, 'CAR', 'D', 'Brett Bellemore', 6)
(2013, 'CAR', 'D', 'Tim Gleason', 10)
(2013, 'CAR', 'D', 'Jay Harrison', 6)
(2013, 'COL', 'F', 'John Mitchell', 2)
(2013, 'DAL', 'F', 'Tyler Seguin', 2)
(2013, 'DAL', 'D', 'Sergei Gonchar', 6)
(2013, 'DET', 'F', 'Johan Franzen', 6)
(2013, 'DET', 'D', 'Niklas Kronwall', 2)
(2013, 'FLA', 'F', 'Nick Bjugstad', 5)
(2013, 'FLA', 'F', 'Jonathan Huberdeau', 11)
(2013, 'FLA', 'F', 'Tomas Kopecky', 24)
(2013, 'L.A', 'F', 'Colin Fraser', 3)
(2013, 'L.A', 'D', 'Matt Greene', 6)
(2013, 'MIN', 'D', 'Keith Ballard', 7)
(2013, 'MTL', 'F', 'Michael Bournival', 14)
(2013, 'MTL', 'F', 'Daniel Briere', 10)
(2013, 'MTL', 'F', 'Travis Moen', 9)
(2013, 'MTL', 'F', 'George Parros', 10)
(2013, 'MTL', 'F', 'George Parros', 12)
(2013, 'NSH', 'D', 'Seth Jones', 5)
(2013, 'NSH', 'D', 'Roman Josi', 10)
(2013, 'NYI', 'F', 'Michael Grabner', 9)
(2013, 'NYI', 'D', 'Travis Hamonic', 12)
(2013, 'NYI', 'D', 'Lubomir Visnovsky', 12)
(2013, 'NYI', 'D', 'Lubomir Visnovsky', 46)
(2013, 'NYR', 'F', 'Taylor Pyatt', 8)
(2013, 'NYR', 'D', 'John Moore', 6)
(2013, 'NYR', 'D', 'Marc Staal', 10)
(2013, 'PHI', 'F', 'Steve Downie', 4)
(2013, 'PHI', 'F', 'Michael Raffl', 1)
(2013, 'PHI', 'F', 'Matt Read', 6)
(2013, 'PHI', 'D', 'Marc-Andre Bourdon', 49)
(2013, 'ARI', 'D', 'Rostislav Klesla', 3)
(2013, 'PIT', 'F', 'James Neal', 2)
(2013, 'PIT', 'D', 'Brooks Orpik', 8)
(2013, 'STL', 'F', 'Alex Steen', 11)
(2013, 'T.B', 'D', 'Mike Kostka', 3)
(2013, 'VAN', 'D', 'Andrew Alberts', 41)
(2013, 'COL', 'F', 'John Mitchell', 7)
(2013, 'MTL', 'F', 'Travis Moen', 4)
(2014, 'ANA', 'D', 'Korbinian Holzer', 18)
(2014, 'BUF', 'F', 'Cody McCormick', 4)
(2014, 'CGY', 'F', 'Micheal Ferland', 8)
(2014, 'CAR', 'F', 'Jeff Skinner', 4)
(2014, 'CAR', 'D', 'Jack Hillen', 19)
(2014, 'COL', 'F', 'Jesse Winchester', 82)
(2014, 'CBJ', 'F', 'Artem Anisimov', 7)
(2014, 'CBJ', 'F', 'Matt Calvert', 15)
(2014, 'CBJ', 'F', 'Brandon Dubinsky', 3)
(2014, 'DAL', 'F', 'Patrick Eaves', 7)
(2014, 'DET', 'F', 'Johan Franzen', 42)
(2014, 'EDM', 'F', 'Matt Fraser', 3)
(2014, 'EDM', 'D', 'Andrew Ference', 9)
(2014, 'FLA', 'F', 'Brandon Pirri', 10)
(2014, 'L.A', 'D', 'Alec Martinez', 18)
(2014, 'MIN', 'F', 'Zach Parise', 5)
(2014, 'MIN', 'D', 'Keith Ballard', 56)
(2014, 'MTL', 'F', 'P.A. Parenteau', 19)
(2014, 'MTL', 'D', 'Mike Weaver', 2)
(2014, 'MTL', 'D', 'Mike Weaver', 4)
(2014, 'N.J', 'F', 'Ryane Clowe', 69)
(2014, 'NYI', 'F', 'Mikhail Grabovski', 23)
(2014, 'OTT', 'F', 'Clarke MacArthur', 18)
(2014, 'PIT', 'D', 'Christian Ehrhoff', 6)
(2014, 'PIT', 'D', 'Kris Letang', 7)
(2014, 'STL', 'F', 'David Backes', 1)
(2014, 'STL', 'F', 'T.J. Oshie', 7)
(2014, 'STL', 'D', 'Carl Gunnarsson', 10)
(2014, 'TOR', 'F', 'Leo Komarov', 14)
(2014, 'VAN', 'D', 'Chris Tanev', 2)
(2014, 'ANA', 'D', 'Korbinian Holzer', 16)
(2014, 'MIN', 'D', 'Keith Ballard', 10)
(2014, 'PIT', 'D', 'Kris Letang', 5)
(2015, 'ARI', 'F', 'Shane Doan', 1)
(2015, 'BOS', 'F', 'Brad Marchand', 2)
(2015, 'CAR', 'F', 'Phillip Di Giuseppe', 6)
(2015, 'CAR', 'D', 'Ryan Murphy', 5)
(2015, 'COL', 'F', 'Jack Skille', 5)
(2015, 'COL', 'D', 'Chris Bigras', 4)
(2015, 'COL', 'D', 'Nikita Zadorov', 1)
(2015, 'CBJ', 'F', 'Alexander Wennberg', 5)
(2015, 'DET', 'F', 'Johan Franzen', 80)
(2015, 'DET', 'D', 'Kyle Quincey', 4)
(2015, 'EDM', 'F', 'Ryan Nugent-Hopkins', 3)
(2015, 'EDM', 'F', 'Iiro Pakarinen', 3)
(2015, 'FLA', 'F', 'Quinton Howden', 4)
(2015, 'MIN', 'F', 'Jason Zucker', 6)
(2015, 'MTL', 'D', 'Mark Barberio', 11)
(2015, 'NYR', 'D', 'Ryan McDonagh', 4)
(2015, 'OTT', 'F', 'Curtis Lazar', 3)
(2015, 'OTT', 'F', 'Clarke MacArthur', 78)
(2015, 'OTT', 'D', 'Marc Methot', 3)
(2015, 'PHI', 'F', 'Sam Gagner', 11)
(2015, 'PIT', 'D', 'David Warsofsky', 16)
(2015, 'S.J', 'F', 'Ben Smith', 21)
(2015, 'STL', 'F', 'Robby Fabbri', 6)
(2015, 'TOR', 'F', 'Peter Holland', 12)
(2015, 'WPG', 'F', 'Mathieu Perreault', 10)
(2015, 'WPG', 'F', 'Mark Scheifele', 4)
(2015, 'DET', 'F', 'Johan Franzen', 5)
(2016, 'ANA', 'D', 'Simon Despres', 81)
(2016, 'ARI', 'D', 'Jakob Chychrun', 1)
(2016, 'BOS', 'F', 'David Backes', 3)
(2016, 'BOS', 'F', 'Ryan Spooner', 3)
(2016, 'BOS', 'D', 'John-Michael Liles', 19)
(2016, 'BOS', 'D', 'Kevan Miller', 4)
(2016, 'CAR', 'F', 'Jordan Staal', 7)
(2016, 'DAL', 'F', 'Patrick Sharp', 12)
(2016, 'DAL', 'F', 'Patrick Sharp', 14)
(2016, 'FLA', 'F', 'Seth Griffith', 4)
(2016, 'FLA', 'F', 'Denis Malgin', 9)
(2016, 'FLA', 'F', 'Reilly Smith', 2)
(2016, 'FLA', 'D', 'Aaron Ekblad', 4)
(2016, 'MTL', 'F', 'Andrew Shaw', 14)
(2016, 'N.J', 'F', 'Jacob Josefson', 5)
(2016, 'N.J', 'F', 'Pavel Zacha', 4)
(2016, 'N.J', 'D', 'John Moore', 17)
(2016, 'NYR', 'F', 'Matt Puempel', 5)
(2016, 'NYR', 'F', 'Matt Puempel', 7)
(2016, 'NYR', 'D', 'Marc Staal', 9)
(2016, 'OTT', 'F', 'Curtis Lazar', 3)
(2016, 'OTT', 'F', 'Clarke MacArthur', 78)
(2016, 'PHI', 'D', 'Brandon Manning', 3)
(2016, 'PIT', 'F', 'Sidney Crosby', 6)
(2016, 'PIT', 'F', 'Jake Guentzel', 4)
(2016, 'PIT', 'F', 'Carl Hagelin', 5)
(2016, 'PIT', 'F', 'Patric Hornqvist', 5)
(2016, 'PIT', 'F', 'Patric Hornqvist', 6)
(2016, 'PIT', 'D', 'Justin Schultz', 3)
(2016, 'VAN', 'F', 'Sven Bartschi', 9)
(2016, 'WPG', 'F', 'Patrik Laine', 8)
(2016, 'WPG', 'D', 'Tobias Enstrom', 9)
(2016, 'ANA', 'D', 'Simon Despres', 17)
(2016, 'MTL', 'F', 'Andrew Shaw', 1)
(2016, 'PIT', 'F', 'Sidney Crosby', 1)
(2016, 'PIT', 'F', 'Conor Sheary', 1)
(2016, 'PIT', 'D', 'Chad Ruhwedel', 3)
(2017, 'ANA', 'F', 'Ondrej Kase', 10)
(2017, 'BUF', 'F', 'Kyle Okposo', 3)
(2017, 'BUF', 'D', 'Victor Antipin', 4)
(2017, 'CAR', 'F', 'Sebastian Aho', 4)
(2017, 'CAR', 'D', 'Noah Hanifin', 3)
(2017, 'CAR', 'D', 'Brett Pesce', 3)
(2017, 'CAR', 'D', 'Trevor van Riemsdyk', 3)
(2017, 'COL', 'F', 'Colin Wilson', 8)
(2017, 'DAL', 'D', 'Stephen Johns', 3)
(2017, 'EDM', 'F', 'Leon Draisaitl', 4)
(2017, 'L.A', 'F', 'Trevor Lewis', 12)
(2017, 'MIN', 'D', 'Gustav Olofsson', 5)
(2017, 'MTL', 'F', 'Phillip Danault', 15)
(2017, 'MTL', 'F', 'Ales Hemsky', 74)
(2017, 'MTL', 'F', 'Nikita Scherbak', 2)
(2017, 'N.J', 'F', 'Marcus Johansson', 13)
(2017, 'N.J', 'F', 'Marcus Johansson', 35)
(2017, 'NYR', 'F', 'Pavel Buchnevich', 7)
(2017, 'NYR', 'F', 'Jimmy Vesey', 3)
(2017, 'NYR', 'F', 'Mika Zibanejad', 9)
(2017, 'OTT', 'D', 'Mark Borowiecki', 21)
(2017, 'PIT', 'F', 'Bryan Rust', 2)
(2017, 'PIT', 'D', 'Brian Dumoulin', 2)
(2017, 'PIT', 'D', 'Matt Hunwick', 15)
(2017, 'PIT', 'D', 'Justin Schultz', 6)
(2017, 'S.J', 'F', 'Logan Couture', 4)
(2017, 'STL', 'F', 'Sammy Blais', 1)
(2017, 'VAN', 'F', 'Sam Gagner', 1)
(2017, 'WSH', 'F', 'Brett Connolly', 7)
(2017, 'WPG', 'D', 'Dmitry Kulikov', 3)
(2017, 'WPG', 'D', 'Jacob Trouba', 5)
(2017, 'MIN', 'D', 'Gustav Olofsson', 5)
(2017, 'N.J', 'F', 'Marcus Johansson', 2)
(2018, 'ANA', 'F', 'Ondrej Kase', 18)
(2018, 'BOS', 'F', 'Jake DeBrusk', 9)
(2018, 'BOS', 'F', 'Sean Kuraly', 2)
(2018, 'BOS', 'D', 'Torey Krug', 6)
(2018, 'BOS', 'D', 'Charlie McAvoy', 20)
(2018, 'BOS', 'D', 'Urho Vaakanainen', 26)
(2018, 'BUF', 'F', 'Kyle Okposo', 4)
(2018, 'CGY', 'F', 'Mikael Backlund', 4)
(2018, 'CGY', 'F', 'Dillon Dube', 4)
(2018, 'CAR', 'F', 'Micheal Ferland', 4)
(2018, 'CAR', 'F', 'Jordan Staal', 5)
(2018, 'CAR', 'F', 'Jordan Staal', 27)
(2018, 'CAR', 'D', 'Haydn Fleury', 3)
(2018, 'CAR', 'D', 'Haydn Fleury', 9)
(2018, 'CHI', 'F', 'Artem Anisimov', 4)
(2018, 'CHI', 'F', 'Drake Caggiula', 13)
(2018, 'CHI', 'F', 'Marcus Kruger', 4)
(2018, 'CHI', 'F', 'Brendan Perlini', 3)
(2018, 'COL', 'F', 'J.T. Compher', 16)
(2018, 'COL', 'D', 'Erik Johnson', 2)
(2018, 'CBJ', 'D', 'Scott Harrington', 2)
(2018, 'DET', 'F', 'Frans Nielsen', 5)
(2018, 'EDM', 'D', 'Alex Petrovic', 6)
(2018, 'FLA', 'D', 'MacKenzie Weegar', 4)
(2018, 'N.J', 'D', 'Sami Vatanen', 14)
(2018, 'NYI', 'D', 'Johnny Boychuk', 2)
(2018, 'NYR', 'F', 'Pavel Buchnevich', 1)
(2018, 'NYR', 'F', 'Vladislav Namestnikov', 3)
(2018, 'OTT', 'F', 'Alex Formenton', 3)
(2018, 'OTT', 'F', 'Bobby Ryan', 3)
(2018, 'OTT', 'D', 'Justin Falk', 12)
(2018, 'PIT', 'F', 'Patric Hornqvist', 3)
(2018, 'PIT', 'F', 'Patric Hornqvist', 4)
(2018, 'PIT', 'D', 'Brian Dumoulin', 3)
(2018, 'PIT', 'D', 'Jamie Oleksiak', 3)
(2018, 'S.J', 'D', 'Radim simek', 2)
(2018, 'STL', 'F', 'Tyler Bozak', 9)
(2018, 'STL', 'F', 'David Perron', 24)
(2018, 'STL', 'F', 'Zach Sanford', 3)
(2018, 'STL', 'F', 'Nikita Soshnikov', 10)
(2018, 'STL', 'F', 'Alex Steen', 2)
(2018, 'TOR', 'F', 'Andreas Johnsson', 1)
(2018, 'TOR', 'F', 'Nazem Kadri', 8)
(2018, 'TOR', 'F', 'Kasperi Kapanen', 4)
(2018, 'VAN', 'F', 'Sven Bartschi', 23)
(2018, 'VAN', 'F', 'Sven Bartschi', 30)
(2018, 'VAN', 'F', 'Elias Pettersson', 6)
(2018, 'VAN', 'F', 'Antoine Roussel', 4)
(2018, 'VAN', 'D', 'Alexander Edler', 11)
(2018, 'VAN', 'D', 'Troy Stecher', 3)
(2018, 'WSH', 'F', 'T.J. Oshie', 11)
(2018, 'WSH', 'F', 'Tom Wilson', 3)
(2018, 'WPG', 'F', 'Andrew Copp', 3)
(2018, 'WPG', 'D', 'Dustin Byfuglien', 4)
(2018, 'BOS', 'D', 'Matt Grzelcyk', 4)
(2018, 'CAR', 'F', 'Andrei Svechnikov', 6)
(2019, 'BUF', 'F', 'Kyle Okposo', 10)
(2019, 'BUF', 'D', 'Rasmus Dahlin', 8)
(2019, 'CHI', 'F', 'Drake Caggiula', 27)
(2019, 'CHI', 'F', 'Kirby Dach', 2)
(2019, 'CHI', 'F', 'Andrew Shaw', 44)
(2019, 'CHI', 'F', 'Dylan Strome', 4)
(2019, 'CHI', 'D', 'Adam Boqvist', 1)
(2019, 'CHI', 'D', 'Lucas Carlsson', 2)
(2019, 'COL', 'F', 'Pierre-edouard Bellemare', 1)
(2019, 'COL', 'F', 'Joonas Donskoi', 5)
(2019, 'DAL', 'D', 'Miro Heiskanen', 1)
(2019, 'EDM', 'F', 'Riley Sheahan', 2)
(2019, 'EDM', 'D', 'Matt Benning', 4)
(2019, 'EDM', 'D', 'Joel Persson', 7)
(2019, 'EDM', 'D', 'Kris Russell', 14)
(2019, 'MIN', 'F', 'Jordan Greenway', 2)
(2019, 'MTL', 'F', 'Brendan Gallagher', 4)
(2019, 'MTL', 'F', 'Jesperi Kotkaniemi', 8)
(2019, 'MTL', 'D', 'Xavier Ouellet', 3)
(2019, 'OTT', 'F', 'Scott Sabourin', 25)
(2019, 'PHI', 'F', 'Travis Konecny', 3)
(2019, 'PHI', 'F', 'Tyler Pitlick', 2)
(2019, 'PIT', 'F', 'Dominik Kahun', 8)
(2019, 'TOR', 'F', 'Trevor Moore', 15)
(2019, 'VAN', 'F', 'Micheal Ferland', 17)
(2019, 'VAN', 'D', 'Oscar Fantenberg', 5)
(2019, 'WPG', 'F', 'Bryan Little', 9)
(2019, 'WPG', 'F', 'Mathieu Perreault', 6)
(2019, 'CHI', 'F', 'Andrew Shaw', 9)
(2019, 'WSH', 'F', 'Nicklas Backstrom', 3)
(2020, 'ANA', 'F', 'Sonny Milano', 34)
(2020, 'CAR', 'F', 'Teuvo Teravainen', 7)
(2020, 'CAR', 'F', 'Teuvo Teravainen', 25)
(2020, 'CAR', 'D', 'Brady Skjei', 4)
(2020, 'CHI', 'F', 'Ryan Carpenter', 8)
(2020, 'CHI', 'F', 'Brett Connolly', 2)
(2020, 'CHI', 'F', 'Andrew Shaw', 42)
(2020, 'CHI', 'F', 'Dylan Strome', 11)
(2020, 'CHI', 'D', 'Adam Boqvist', 3)
(2020, 'CHI', 'D', 'Duncan Keith', 2)
(2020, 'MTL', 'F', 'Joel Armia', 7)
(2020, 'MTL', 'F', 'Phillip Danault', 3)
(2020, 'S.J', 'F', 'Dylan Gambrell', 1)
(2020, 'S.J', 'F', 'John Leonard', 2)
(2020, 'STL', 'F', 'Tyler Bozak', 21)
(2020, 'VAN', 'F', 'Micheal Ferland', 56)
(2020, 'VAN', 'F', 'Tyler Motte', 3)
(2020, 'WPG', 'F', 'Blake Wheeler', 6)
(2020, 'MTL', 'F', 'Jake Evans', 9)
(2020, 'TOR', 'F', 'John Tavares', 6)
(2021, 'BOS', 'F', 'Nick Foligno', 4)
(2021, 'BOS', 'F', 'Trent Frederic', 7)
(2021, 'CHI', 'F', 'Mike Hardman', 2)
(2021, 'CHI', 'F', 'Tyler Johnson', 6)
(2021, 'CHI', 'F', 'Jujhar Khaira', 5)
(2021, 'CHI', 'F', 'Jonathan Toews', 11)
(2021, 'CHI', 'D', 'Connor Murphy', 3)
(2021, 'CHI', 'D', 'Connor Murphy', 22)
(2021, 'COL', 'F', 'Nathan MacKinnon', 4)
(2021, 'COL', 'D', 'Bowen Byram', 6)
(2021, 'DAL', 'F', 'Tanner Kero', 4)
(2021, 'EDM', 'F', 'Zack Kassian', 1)
(2021, 'EDM', 'F', 'Derek Ryan', 2)
(2021, 'EDM', 'D', 'Duncan Keith', 9)
(2021, 'MTL', 'F', 'Christian Dvorak', 19)
(2021, 'MTL', 'D', 'Sami Niku', 2)
(2021, 'PHI', 'F', 'Scott Laughton', 12)
(2021, 'STL', 'F', 'Pavel Buchnevich', 3)
(2021, 'TOR', 'F', 'Ondrej Kase', 20)
(2021, 'TOR', 'D', 'Jake Muzzin', 7)
(2021, 'TOR', 'D', 'Jake Muzzin', 20)
(2021, 'VGK', 'F', 'William Carrier', 2)
(2021, 'WPG', 'F', 'Andrew Copp', 6)
(2021, 'WPG', 'F', 'Jansen Harkins', 4)
(2021, 'WPG', 'D', 'Neal Pionk', 3)
(2021, 'PIT', 'F', 'Sidney Crosby', 1)
(2022, 'ARI', 'F', 'Jakub Voracek', 4)
(2022, 'CAR', 'F', 'Ondrej Kase', 62)
(2022, 'CHI', 'F', 'Reese Johnson', 9)
(2022, 'COL', 'D', 'Kurtis MacDermid', 4)
(2022, 'COL', 'D', 'Cale Makar', 5)
(2022, 'CBJ', 'F', 'Jakub Voracek', 50)
(2022, 'FLA', 'F', 'Patric Hornqvist', 40)
(2022, 'FLA', 'F', 'Chris Tierney', 8)
(2022, 'FLA', 'D', 'Radko Gudas', 10)
(2022, 'OTT', 'D', 'Thomas Chabot', 5)
(2022, 'S.J', 'D', 'Radim simek', 3)
(2022, 'VAN', 'F', 'William Lockwood', 9)
(2022, 'VAN', 'D', 'Travis Dermott', 34)
(2022, 'WPG', 'D', 'Nate Schmidt', 9)

In [27]:
df_final.to_csv("../Resources/Players_of_Interest.csv", index = False)

In [28]:
df_final.to_json("../static/js/data.json", indent = 2)